body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: bisque;
  }

.seccion-1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 1280px;
    box-sizing: border-box;
}

  .seccion-1__izquierda{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .seccion-1__izquierda div{
    padding: 10px;
  }
  .seccion-1__derecha {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 48px;
    max-width: 1280px;
    box-sizing: border-box;
    flex-wrap: wrap
  }
  .seccion-1__derecha div{
    justify-content: center;
  }
  nav {
    background-color: #333;
    overflow: hidden;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    float: left;
  }
  
  nav ul li a {
    display: block;
    padding: 20px;
    color: white;
    text-decoration: none;
  }
  
  nav ul li:hover {
    background: #3ead47;
  }
  
  nav .nav-right {
    float: right;
  }

  /* nav {
    float: left;
  }
  
  nav ul {
    list-style: none;
    overflow: hidden;
  }
  
  nav ul li {
    float: left;
    font-family: Arial, sans-serif;
    font-size: 16px;
  }
  
  nav ul li a {
    display: block;
    padding: 20px;
    color: black;
    text-decoration: none;
  }
  
nav ul li:hover {
    background: #3ead47;
} */
.oculto {
  display: none;
}

#div1,
#div2,
#div3,
#div4{
  
  position: relative;
}
.divv5{
  gap: 4px;
  width: 100%;
  margin-top: 100px;
}
.board3{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 4px;
  width: 310px;
  margin-top: 2%;
  margin-left: 16%;
  margin-bottom: 10%;
}
.board4{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 4px;
  width: 310px;
  margin-top: 2%;
  margin-left: 13%;
  margin-bottom: 14%;
}
.board5{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 4px;
  width: 100%;
  margin-top: 2%;
  margin-bottom: 13%;
}
.board5 .board__cell {
  /* Estilos modificados para la clase .board__cell cuando se llama la clase .board5 */
  width: 80px;
  height: 80px;
  font-size: 16px;
}
.board5 .board__cell--hit {
  /* Estilos modificados para la clase .board__cell cuando se llama la clase .board5 */
  width: 80px;
  height: 80px;
  font-size: 16px;
}
.board__cell{
  background-color: yellow;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  cursor: pointer;
  border-radius: 4px;

}

.board__cell--hit{
  background-color: green;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  cursor: pointer;
  border-radius: 4px;

}

.centrado {
  text-align: center;
}

.boton-personalizado {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  width: 100%;
  margin-bottom: 10px;
}

.boton-personalizado:hover {
  background-color: #45a049;
}

.listas{
  border: 1px solid; 
  padding: 8px;
  font-size: 16px;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}


@media (min-width: 300px) and (max-width: 500px) {
  .board3{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 4px;
    margin-top: 2%;
    width: 180px;
    margin-bottom: 10%;
  }
  .board4{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 4px;
    width: 310px;
    /* margin: 120px auto; */
    margin-top: 2%;
    margin-left: 0%;
    margin-bottom: 4%;
  }
  .board5{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 4px;
    width: 100%;
    margin-top: 2%;
    margin-left: -12%;
    margin-bottom: 5%;
  }
  .board__cell{
    background-color: yellow;
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
  
  }
  
  .board__cell--hit{
    background-color: green;
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
  
  }
  .board5 .board__cell {
    /* Estilos modificados para la clase .board__cell cuando se llama la clase .board5 */
    width: 70px;
    height: 70px;
    font-size: 13px;
  }
  .board5 .board__cell--hit {
    /* Estilos modificados para la clase .board__cell cuando se llama la clase .board5 */
    width: 70px;
    height: 70px;
    font-size: 13px;
  }
  .board4 .board__cell {
    /* Estilos modificados para la clase .board__cell cuando se llama la clase .board5 */
    width: 70px;
    height: 70px;
    font-size: 13px;
  }
  .board4 .board__cell--hit {
    /* Estilos modificados para la clase .board__cell cuando se llama la clase .board5 */
    width: 70px;
    height: 70px;
    font-size: 13px;
  }
  nav ul li a {
    display: block;
    padding: 10px;
    color: white;
    text-decoration: none;
  }
}
.gif{
  width: 18%;
  height: 12%;
  border-radius: 3%;
}
