body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: bisque;
  }

/* .seccion-1 {
    display: flex;
    justify-content:center;
    padding: 48px;
    max-width: 1280px;
    box-sizing: border-box;
  } */
.seccion-1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 48px;
    max-width: 1280px;
    box-sizing: border-box;
    width: 100%;
}

  .seccion-1__izquierda{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .seccion-1__izquierda div{
    padding: 10px;
  }
  .seccion-1__derecha {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 48px;
    max-width: 1280px;
    box-sizing: border-box;
    flex-wrap: wrap
  }
  .seccion-1__derecha div{
    justify-content: center;
  }

  nav {
    float: left;
  }
  
  nav ul {
    list-style: none;
    overflow: hidden;
  }
  
  nav ul li {
    float: left;
    font-family: Arial, sans-serif;
    font-size: 16px;
  }
  
  nav ul li a {
    display: block;
    padding: 20px;
    color: #fff;
    text-decoration: none;
  }
  
  nav ul li:hover {
    background: #3ead47;
  }
.oculto {
  display: none;
}

nav {
  display: flex;
  position: relative;
  justify-content: center;
}

nav ul {
  position: relative;
  list-style-type: none;
  padding: 0;
}

nav ul li {
  position: relative;
  display: inline-block;
}

nav ul li a {
  display: inline-block;
  padding: 10px;
  text-decoration: none;
}
#div1,
#div2,
#div3,
#div4{
  
  position: relative;
}
.divv5{
  gap: 4px;
  width: 310px;
  margin: 120px auto;
}
.board3{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 4px;
  width: 310px;
  margin: 120px auto;
}
.board4{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 4px;
  width: 310px;
  margin: 120px auto;
}
.board5{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 4px;
  width: 310px;
  margin: 120px auto;
}
.board__cell{
  background-color: yellow;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  cursor: pointer;
  border-radius: 4px;

}

.board__cell--hit{
  background-color: green;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  cursor: pointer;
  border-radius: 4px;

}

.centrado {
  text-align: center;
}

.boton-personalizado {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.boton-personalizado:hover {
  background-color: #45a049;
}